<a href="https://colab.research.google.com/github/Ayoub-Moutaouakil/python-H3/blob/main/exospython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exo 2.1

In [ ]:
def condition_et_produit(a, b):
  if (a > 0 and b > 0) or (a < 0 and b < 0):
      return "Positif"
  else:
      return "Négatif"

#################################################

a = int(input("Entrez nombre a : "))
b = int(input("Entrez nombre b : "))

print(condition_et_produit(a, b))

Entrez nombre a : 5
Entrez nombre b : -5
Négatif

### Exo 2.2

In [ ]:
def additivite(x):
  result = 0
  for i in range(1,x+1):
      result = result + i
  return result

####################################################

var = int(input("Rentrez un nombre \t"))

print(additivite(var))

Rentrez un nombre 	5
15

### Exo 2.3

In [ ]:
def sommetab(tab):
  result = 0
  for i in tab:
      result = result + i
  return result

###################################################

tab = [1,2,3,4,5]

print(sommetab(tab))

15

### Exo 2.4

In [ ]:
def fac_product(tab1, tab2):
  n = 0
  for i in range(len(tab1)):
      for j in range(len(tab2)):
          n = n + tab1[i] * tab2[j]
  return n

###################################################

tab1 = [9, 12, 3, 7]
tab2 = [2, 1, 12, 8]

print(fac_product(tab1, tab2))

713

### Exo 2.5

In [ ]:
def plus_grand(tab):
  num = 0
  for y,i in enumerate(tab):
      if num < i:
          num = i
          position = y + 1
  return [num, position]

###################################################

tab = [99,55,100,62]
        
print(plus_grand(tab))

[100, 3]

### Exo 2.6

In [ ]:
def moyenne(tab):
  somme = 0
  for i in tab:
    somme += i
  return somme / len(tab)

def plus_grand_que_moyenne(tab):
  moy = moyenne(tab)
  res = []
  for j in tab:
    if j > moy:
      res.append(j)
  return res

###################################################

tab = [12, 15, 18, 6, 9]

print(plus_grand_que_moyenne(tab))

[15, 18]

### Exo 2.7

In [ ]:
def multiplier_vecteur(vec1, vec2):
  res = []
  for i in range(2):
      num = v1[i] * v2[i]
      res.append(num)
  return res

###################################################

v1 = [5, 8]
v2 = [3, 6]

print(multiplier_vecteur(v1, v2))

### Exo 2.8

In [ ]:
def tris(tab):
  for i in range(len(tab)):
    for y in range(len(tab)):
        if tab[i] < tab[y]:
            tempo = tab[i]
            tab[i] = tab[y]
            tab[y] = tempo
  return tab

######################################################

tab = [25,13,6,17,9]

print(tris(tab))

[6, 9, 13, 17, 25]